<div class="app">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="'/home'" [routerLinkActive]="'active'">Home</a>
          </li>
          <li>
            <a class="nav-link" [routerLink]="'/template-driven-form'" [routerLinkActive]="'active'">Template driven form</a>
          </li>
          <li>
            <a class="nav-link" [routerLink]="'/reactive-form'" [routerLinkActive]="'active'">Reactive form</a>
          </li>
          <li>
            <a class="nav-link" [routerLink]="'/dynamic-form'" [routerLinkActive]="'active'">Dynamic form</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
