<div class="row text-center">
  <img id="angular-logo" src="assets/Angular.png" alt="Angular logo">
  <h1 class="mt-2 mb-5">Home page</h1>
</div>
<div class="row">
  <div>
    <i class="fab fa-github"></i> GitHub: <a href="https://github.com/kola108/angular-forms-test" target="_blank">https://github.com/kola108/angular-forms-test</a>
  </div>
  <div>
    <i class="fab fa-angular"></i> Official Angular documentation:
    <ul>
      <li>Template driven form <a href="https://angular.io/guide/forms" target="_blank">https://angular.io/guide/forms</a></li>
      <li>Reactive form <a href="https://angular.io/guide/reactive-forms" target="_blank">https://angular.io/guide/reactive-forms</a></li>
      <li>Dynamic form <a href="https://angular.io/guide/dynamic-form" target="_blank">https://angular.io/guide/dynamic-form</a></li>
    </ul>
  </div>
</div>
